.fp-tableCell > .container {
	padding-right: 80px;
}

.fp-controlArrow.fp-next {
	right: 75px;
}

.title {
	font-family: 'Dosis';
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	fill: white;
}

text, text.xAxis, text.yAxis {
	font-family: 'Dosis';
	font-size: 16px;
	fill: white;
}

.label-treemap {
	color: white;
}

.white {
	color: white !important;
}